.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
    padding: 20px;
    line-height: 30px;
}

.dialogsItems a {
    text-decoration: none;
    color: black;
}

.dialog {
}

.dialog {

}

.messages {

}

.message {

}
